.bodyLogin {
    margin:0;
    padding:0;
    background-size: cover;
    height: 100vh;
  }
.login-container {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 60vh;
    padding: 2%;
    width: 25vw;
  }
  
.login-container h2 {
    margin-left: 2%;
    margin-bottom: 13%;
    color: rgb(0, 0, 0);
    font-weight: 500;

    font-size: 2em;
  }
  
.login-container .input-container {
    position: relative;
  }
  
.login-container .input-container input {
    width: 100%;
    padding: 3% 0;
    font-size: 1rem;
    color: #949292;
    margin-bottom: 30px;
    background-color: rgb(245, 242, 242);
    border-bottom: 2px solid rgb(199, 198, 198) !important;
    outline: none;
    padding-left: 2%;
    
  }
.login-container .input-container label {
    position: absolute;
    top:0;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: 1s;
    margin-left: 12%;
    transform: translateY(-5%);
    
  }
.login-container .input-container p {
    position: absolute;
    top:0;
    font-size: 0.8rem;
    color: rgb(110, 110, 110);
    pointer-events: none;
    transition: 0.5s;
    margin-left: 12%;
    margin-top: 5.5%;
    
  }

.login-container .input-container  i{
    position: absolute;
    top:0;
    font-size: 1.5rem;
    color: gray;
    pointer-events: none;
    transition: 1s;
    margin-left: 3%;
    margin-top: 2.5%;
    transform: translateY(2%);
  }

.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(112, 9, 71, 0.487);
}

.login-container .input-container input:focus ~ label,
.login-container .input-container input:focus ~ i,
.login-container .input-container input:focus ~ p{
    top:-90%;
    left:0px;
    color: transparent;
}


.login-container .input-container input:valid ~ label,
.login-container .input-container input:valid ~ i,
.login-container .input-container input:valid ~ p{
    display: none;
  }
    
.pass-recover{
    text-decoration: none;
    color: black;
    margin-left: 0%;
    margin-top: 0%;
}

.login-container a:hover{
    color: rgba(175, 14, 110, 0.717);
    text-decoration:solid;
}